@import "base.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--color-dimmed);
}

#mainpagecontent {
    background-color: var(--color-background);
    width: 80%;
    height: 96vh;
    border-radius: 7px 0px 0 7px;
    padding: 2vh;
}

.nunito-sans-400 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.nunito-sans-500 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}


.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    color: var(--color-primary);
}

.card .card-icon {
    margin-right: 2vh;
}