@font-face {
    font-family: 'NunitoSans';
    src: url('../fonts/NunitoSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito.ttf') format('truetype');
}