@import url("/styles/colors.css");

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
}

.fake-body {
    width: 60%;
}

h1 {
    font-family: "Nunito";
    font-weight: 600;
}

h2 {
    font-family: "Nunito";
    font-weight: 500;
}

hr {
    border-color: var(--color-soft-violet);
}